/*
	HTML5 Reset :: style.css
-------------------------------------------------------------------------------*/
/* 
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									
article, aside, figure, footer, header, hgroup, nav, section {display: block;}
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */ 
img, object, embed {max-width: 100%;}
/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}
/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;} 
/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: 'Open Sans', Verdana, arial, serif;}
/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}
/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}
/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body { font-family: 'Open Sans', Arial, Verdana, sans-serif;;}
/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
body, select, input, textarea {color: #333;}
a {color: #03f;}
a:hover {color: #69f;}
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #8CC63F; color: #fff; text-shadow: none;}
::selection {background: #8CC63F; color: #fff; text-shadow: none;} 
/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #8CC63F;} 

ins {background-color: #8CC63F; color: #000; text-decoration: none;}
mark {background-color: #8CC63F; color: #000; font-style: italic; font-weight: bold;}


/* START THE CSS SITE
-------------------------------------------------------------------------------*/
.wrapper{ width:100%; position:relative; background:url(../img/canvasMain.png) repeat-y center top; height:auto; overflow:hidden }
h1 { font-size:34px; color:#8CC63F; text-shadow:1px 1px 1px #5E5E5E; margin-bottom:0px; font-weight:bold; font-style:normal; position:relative;}
h2 { font-size:26px; color:#0060A9; margin-bottom:0px; font-weight:normal; font-style:italic; position:relative; }
h3 { font-size:22px; color:#999999; font-weight:bold; }
h4 { font-size:22px; color:#00408E; font-weight:bold; font-style:normal; position:relative; }
/*******HEADER****/
	header{ width:100% !important; z-index:0}
	#headerTop{ height:109px; border-top: solid 3px #00408E; border-bottom: solid 3px #5CAC37; background:#FFF;}
	#headerCont { width:1100px; margin:0px auto; height:110px}
		.logoSMI{ position:relative; left:60px; top:5px; }
		.contactHelp { width:91px; height:83px; position:relative; float:right; right:103px; top:0px; background:url(../img/bgContactBox.png) repeat-x left bottom; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -ms-border-radius-bottomright: 5px; -ms-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; behavior: url(PIE.htc);}
			.contactHelp img { position:relative; top:7px; left:3px; cursor:pointer;}
		.contactInfo { position:relative; float:right; top:85px; width:auto; text-align:right; font-style:italic; right:15px;}
			.contactInfo p { color:#333333; font-size:14px; font-weight:600;}
			.contactInfo span { color:#29ABE2; font-size:16px; font-weight:bold; font-style:italic;}

/*******NAVIGATION****/
	#barNav { width:100% !important; height:40px; position:relative; background:url(../img/bgBarNav.png) repeat-x center top transparent; margin-bottom:-8px; z-index:20}
		#navContain{ width:1010px; margin:0px auto !important; height:31px;}
		/***BARS BUTTONS***/
			#trans-nav { list-style-type: none; height: 31px; padding: 0; margin: 0; position:relative; left:8px; }
				#trans-nav li { float: left; position: relative; padding: 0; line-height: 32px; border-left:1px solid #D5D5D5 } /*url(../img/nav-bg.png) repeat-x 0 0;*/
				#trans-nav li:hover { background-position: 0 -40px; }
				
					#trans-nav li a { display: block; padding: 0 21px; color: #666666; text-shadow:1px 1px 1px #FFF; text-decoration: none; background: url(../img/nav-bg.png) repeat-x center -32px; }
					#trans-nav li a:hover { color: #FFF; text-shadow:1px 1px 1px #000; background:url(../img/nav-bg.png) repeat-x center top; -webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s; }
				/*#trans-nav li ul { opacity: 0; position: absolute; left: 0; width: 8em; background:; list-style-type: none; padding: 0; margin: 0; }
				#trans-nav li:hover ul { opacity: 1; }
				#trans-nav li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
				#trans-nav li:hover ul li { height: 30px; line-height: 30px; }
				#trans-nav li ul li a { background: #63867f; }
				#trans-nav li ul li a:hover { background: #5a8078; }*/
				
					#trans-nav li { -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
					#trans-nav li a { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }

			
			/*#trans-nav li ul { -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s;}
			#trans-nav li ul li { -webkit-transition: height 0.5s; -moz-transition: height 0.5s; transition: height 0.5s;}*/

			#trans-nav li ul { display: none; }
			#trans-nav li:hover ul, #trans-nav li.over ul {display: block; }
			/*#trans-nav li ul li { height: 30px; line-height: 30px; }*/
			#trans-nav li a.active { background:url(../img/magicNavBg.png) repeat-x 0 0px transparent; color: #FFF; text-shadow:1px 1px 1px #000;}	
			
/*******BODY GENERAL MAIN****/			
	#mainBody { margin:0 auto !important; position:relative; z-index:0; }
	.highLights { position:relative; background:url(../img/hightLightsMain.png) repeat-x bottom left; height:auto; width:998px; padding:0 100px; overflow:hidden; margin:0 auto;  }	
	
		/************  FEATURED AREA  *************/
			#featuredArea{ margin: 0 auto !important; position:relative; width:1000px; top:0px;	}
				#sliderHome{ position:relative; width:761px; height:280px; float:left;}
			
			#checkCountry{ position:relative; background:url(../img/checkBg.png) no-repeat center bottom !important; width:223px; height:280px; float:right; right:0px; left:0px}
				#checkCountry p{ text-align:left; width:180px; font-size:13px; color:#FFF; text-shadow:1px 1px 1px #000; position:relative; top:30px;  line-height:1.2em; left:20px;}
				.checkTittle { font-weight:bold; font-style:italic; text-shadow:4px 4px 4px #000; font-size:18px; text-align:left; line-height:1.3em; color:#FFF; position:relative; left:13px; top:13px; letter-spacing:0.01em  }
			
			#partners { position:relative; margin:0 auto !important; border-bottom:1px solid #999999; height:68px; margin-bottom:20px; clear:right;	  }
				#partners img{ position:relative; float:left; border:none; margin-left:2px; margin-right:2px; cursor:pointer;}
		
		/**** MAGIC QUOTE-SALES AREA---***/
			#magicArea { position:relative; margin:0 auto !important; width:1000px; top:20px; height:200px; left:35px; }
				#magicNav { position:relative; background:url(../img/magicNavBg.png) repeat-x left top; width:565px; height:38px; -webkit-border-top-left-radius: 20px; -webkit-border-bottom-left-radius: 30px; -moz-border-radius-topleft: 30px;
-moz-border-radius-bottomleft: 30px; border-top-left-radius: 30px; border-bottom-left-radius: 30px; float:left;}
					#magicStep{ position:relative; top:2px; float:left; margin-right:10px; margin-left:5px; width:auto; text-shadow:1px 1px 1px #000}
						#magicStep p{ font-size:20px; font-style:normal; font-weight:400; margin-top:2px}
						.on { color:#8CC63F}
						.off{ color:#F2F2F2}
					.NumOn { background:url(../img/MagicStepsBg.png) no-repeat 0 0; width:31px; height:30px; padding: 3px 10px 5px 10px; color:#FFF; margin-right:10px; color:#FFF; font-size:16px;}
					.NumOff { background:url(../img/MagicStepsBg.png) no-repeat 0 -32px; width:31px; height:30px; padding: 3px 10px 5px 10px; color:#8CC63F; margin-right:10px; color:#333333; font-size:16px; text-shadow:none}
					#magicStepEnd{ background: #FFF url(../img/MagicStepsEnd.png) no-repeat left top; width:auto; height:38px; float:left !important; margin-top:0px; padding: 4px 0 0px 25px; color:#00408E; font-weight: bold; font-size:20px; letter-spacing:-0.08em}
					#magicStepCards { float:left; position:relative; margin-left:10px; bottom:10px; width:400px }
						#magicStepCards img { cursor:pointer; margin-right:1px; float:left; }
					
				/**********  MAGIC QUOTE FORM  **************/	
					#magicBox{ position:relative; top:50px; width:1100px;}
						.leftMagicBox{ background:url(../img/MagicLineLeft.png) repeat-x top left; position:absolute; width:13px; height:122px; left:0}
						.midMagicBox{ background:url(../img/MagicLineMid.png) repeat-x top left; position:absolute; width:714px; height:122px; left:13px;}
						.rightMagicBox{ background:url(../img/MagicLineLeft.png) repeat-x top left; position:absolute; width:174px; height:122px; left:727px; }
						.endMagicBox{ background:url(../img/MagicLineRight.png) repeat-x top left; position:absolute; width:33px; height:122px; left:901px; }
		
				/********* QUOTES RESULT PAGES **********/	
					
					#magicResult { position:relative; height:auto; width:auto; overflow:hidden; top:20px; margin-bottom:55px;  border-top:1px solid #999999;}
					#magicResultBox { position:relative; width:1000px; margin:0 auto 5px !important; background:url(../img/quoteResBg.png) repeat-x center top; height:107px; border-bottom:2px solid #999999}
						#magicCount { position:relative; height:84px; background:url(../img/magicCountBg.png) left center no-repeat; width:188px; border-right: 1px solid #B3B3B3; top:10px; left:24px; float:left;  }
							#magicCount span { float:left; margin:32px 0 0 14px !important; font-size:15px; font-weight:bold; color:#FFF; text-shadow:1px 1px 1px #000; }
							#magicCount p{ float: left; line-height:1.1em; text-align:center; width:100px; position:absolute; left:60px;}
							#magicCount h1 { left:20px; top:3px;}
							#magicCount h2 { left:30px; top:-5px;}
						 #magicDesc { position:relative; height:84px; width:320px; border-right: 1px solid #B3B3B3; top:10px; left:55px; float:left; }
						 	 #magicDesc ul{ list-style: decimal; line-height:1.1em; float:left;}
							 #magicDesc ul li{ color:#808080; font-size:13px; font-weight:600; letter-spacing:-0.1em;}
							 	#magicDesc span { color:#0071BC; font-size:11px; text-align:center; font-weight:600; letter-spacing:-0.1em; height:80px; width:70px; float:right; margin-right:15px; margin-top:5px;  }
						 #magicPurchase { position:relative; float:left; left:80px;}
						 		.chooseComp{ position:relative; width:30px; top:10px; text-align:center; line-height:1.0em; float:left;}
								.chooseClausu { position: absolute; top:65px; clear:both; font-size:11px; color:#0071BC; left:-18px; font-style:italic; width:90px; text-decoration:none;}
								.chooseClausu:hover { color:#4D4D4D} 
								.choosePlan{ position:relative; width:310px; height:90px; float:right; left:50px; top:10px;}
									.chooseImg{ float:left; border:3px solid #4D4D4D; width:176px; height:81px; position:relative; text-align:center;}
										.chooseImg img{position:relative; text-align:center; top:25%;}
									.chooseBtn{ background:url(../img/buttonSales.png) no-repeat 0 0; width:125px; height:89px; float:left; cursor:pointer}
										.chooseBtn:hover{ background:url(../img/buttonSales.png) no-repeat 0 -90px; }
						#travelDtBox{ width:960px; position:relative; height:auto; overflow:hidden; margin:0 auto 10px; padding:0 5px 15px; border-bottom:1px solid #999999; 	}	
							#travelDtBox h4{ margin-bottom:5px; margin-left:15px}	
						#travelDetails { height:70px; border-top:1px solid #999999; padding-top:10px}
							#travelDetails div.list{ float:left; margin-left:15px; margin-right:5px; text-align:left;}
							div.list .sbHolder{ width:80px; margin-right:8px; }
							div.list .sbOptions{ min-width:40px; margin-right:8px; max-width:80px;}
							.f_dateYY{width:100px;}
							div.list div.date { float:left;}
							.detailNum { width:30px; height:27px; background:url(../img/detailNum.png) no-repeat left center; position:relative; left:3px; padding:6px 5px 1px 12px; color:#FFF; font-size:15px; text-shadow:1px 1px 1px #000;  }			
						#travelDetails label{ color:#004494; font-size:12px; font-weight:600; margin-left:3px;}	
						.travelLabel { color:#004494; font-size:12px; font-weight:600; } 
						
						#dataPerInfo { width:944px; height:117px; background:url(../img/boxDtPaymentBg.png) no-repeat center center; margin:0 auto !important;}
						#dataPerInfo h4{ margin-bottom:5px; left:-15px; top:8px; font-size:20px; clear:left;}
							#dataPerCol { width:370px; position:relative; left:30px; height:60px; top:5px; float:left; }	
								#dataPerCol label, #dataPerEmer label, #dataPerAddr label, .contactForm label{ color:#004494; font-size:12px; font-weight:600; margin-left:3px;}
								#dataPerCol .list, #dataPerEmer .list, .contactForm .list{ float:left; margin-right:10px }	
							#dataPerAddr .list{ float:left; margin-right:15px }
						#dataPerEmer { width:505px; position:relative; left:50px; height:60px; top:5px; float:left; }

							#dataPerAddr{ width:904px; height:117px; padding-left:40px; background:url(../img/addrDataBg.png) no-repeat left center; margin:20px auto !important;}
							#dataPerAddr h4{ margin-bottom:5px; left:-20px; top:8px; font-size:20px; clear:left;}	
							
							#paymentIcon{ position:relative; float:left; top:-40px;}
										
		/**** FAST NAVIGATION AREA---***/
					#fastNav { position:relative; margin:0 auto !important; width:1000px; top:15px; height:30px; left:13px; border-top:1px solid #999999; float:left; clear:both }		
						.buttonFast { padding-bottom:15px; height:30px; background:url(../img/arrowButoon.png) repeat-x 0 0;  float:left; margin-right:30px; text-align:left; padding:0px 0 0 0px; }
						.buttonFast span { height:15px; padding-bottom:5px;  background:url(../img/arrowButoonRg.png) no-repeat right top; padding-right:20px; color:#FFFFFF; font-style: normal; margin:20px 0 0 10px; font-size:18px; text-shadow:1px 1px 1px #000;  }
						.buttonFast span a{ cursor:pointer; color:#FFF; text-decoration:none; }
						.buttonFast span a;hover{ color:#E9E9E9; } 
		
		/**** NEWS BOX AREA---***/
					#boxNews { position:relative; margin:0 auto !important; width: 974px; top:45px; height:540px; background:url(../img/BoxNews.png) no-repeat center 75px;}
						#newsCont { position:relative; float:left; width:305px; margin:0px 3px 10px 10px; }
							
							#newsImg { border:3px solid #4D4D4D; width:290px; height:170px; position:relative; left:10px; top:30px; }
							#newsDesc { position:relative; top:70px; }

							#newsDesc p{ color:#808080; font-size:12px; margin-left:10px; text-align:justify; }	
 							.readMore { color:#000; text-decoration:none; text-align:right; float:right; margin-top:10px;}
								.readMore a:hover{ color:#BDCCD4;}
		
		
		/*** CORPORATIVE TEXTS ****/
		#Corporative { position:relative; width:100%; overflow:hidden; height:auto; margin-bottom:30px; padding-top:15px; border-top:1px solid #999999; margin-top:20px; padding-left:15px; }
				#Corporative h4 { }
				#Corporative p{ font-size:12px; color:#808080; text-align:justify; margin:8px 0; line-height:1.2em}
				#Corporative img{ margin:10px 0 5px}
			#leftContainer { width:450px; float:left; padding:15px; margin-left:15px}
				#leftContainer p.green { color:#8CC63F; font-style:italic; font-weight:600; font-size:12px; margin-top:15px;}
			#rightContainer { width:450px; float:right; padding:15px; margin-right:20px}
			
			
		/**** CONTACT PAGE ****/
		#contactTop { position:relative; width:974px; height:140px; background:url(../img/contactTopBg.png) center center no-repeat; top:-4px; left:5px}
			.contactTopIcon { position:relative; float:left; background:url(../img/ContactIcon.png) left center no-repeat; padding-left:100px; height:90px; top:20px; left:20px; }
				.contactTopIcon span{ color:#333333; font-size:18px; font-style:italic; position:relative; top:30px;  }
				.contactTopIcon span strong { color:#29ABE2; font-size:21px; font-weight:bold;}
		#contactTop img{ position:relative; float:right; top:-8px; }
		#contCols { position:relative; float:left; width: 590px;}	
			.contOneCol{ position:relative; width:240px; float:left; margin-right:20px; margin-left:10px; margin-bottom:20px; }
				.contOneCol h3 { color:#8CC63F; font-size:22px; font-weight:bold;}
				.contOneCol p{ color:#808080; font-size:12px; line-height:1.2em}
				.contOneCol a{ color:#0071BC; text-decoration:none; font-size:11px}
			#contactBox{ position:relative; width:350px; float:right; height:481px; background:url(../img/ContactBox.png) center center no-repeat; margin-bottom:20px; margin-right:55px;}
				.contactForm { position:relative; width:100%; height:auto; top:80px; left:30px; color:#666666; }
					.contactForm .list{ margin-bottom:5px;}
					.infoReq { font-size:11px; font-style:italic; color:#808080; clear:both; float:left;}
					label.leftInf { color:#808080; float:left; margin-top:7px; margin-left:5px; }
						.sucessfull { color:#808080; text-align:center; font-size:11px; position:relative; top:-20px;}	

/******* FOOTER ****/
		footer { width:100%;}
		#footerWrap { position:relative; background:url(../img/footerLineBg.png) repeat-x center top; height:183px; width:1200px; margin:0 auto; }
			#footCont { position:relative; width:1000px; padding: 0px 40px; background:url(../img/footerSMI.png) no-repeat left center; height:185px; margin:0 auto;}
				#footCont ul { float:left; min-width: 135px; min-height:110px; padding-left:15px; padding-top:10px; background:url(../img/footerLineBg.png) right center no-repeat; border-right:1px solid #808080; margin:20px 0 20px 20px; padding-right:15px; }
					#footCont ul li{ list-style:none; font-size:11px; text-shadow:1px 1px 1px #000; font-style:normal;} 
						#footCont ul li a{ color:#E6E6E6; text-decoration:none;} 
						#footCont ul li a:hover{ color:#BDCCD4;} 
					#footCont ul p { width:250px; color:#E6E6E6; line-height:1.1em; font-size:11px; text-shadow:1px 1px 1px #000; font-style:normal; }
						#footCont ul p strong, b { font-weight:600; color:#FFF; font-size:12px}
				.devp { position:absolute; right:5px; top:130px; line-height:1.1em; font-size:10px; text-shadow:1px 1px 1px #000; font-style:italic; color:#E6E6E6; }
				.secureEle { position:absolute; right:5px; top:20px; width:170px; }	
		#footerCopy{ position:relative; background:url(../img/footerLineCopy.png) repeat-y center top; width:1200px; height:20px; margin:0 auto; }		
			#footerCopy p{ text-align:center; color:#FFF; font-size:9px; padding-top:2px }
		/**DOT LOGO**/
			.theDot { width:95px; height:22px; position:absolute; right:70px; top:110px; padding-left:0px; background: transparent;  z-index:10; overflow:hidden; cursor:pointer; opacity:1; }
			.theDotDesign{ width:65px; height:20px; position:absolute; top:0px; left:0px;}
			.theDotByThe{ width:65px; height:20px; position:absolute; top:0px; left:15px; opacity:0;}	
			
			
			
		/********** FORMS ---------------------------**********/
			label { color:#666666; font-size:12px; font-style:normal; font-weight:600; margin:0px 0 -2px; }
			#quicklySearch { position:relative; top:20px; left:25px;}
				.submitQuickly { background:url(../img/buttonQuiclySearch.png) no-repeat; width:100px; height:61px; padding:9px 0 40px; border:none; position:absolute; height:25px; font-size:16px; text-shadow:1px 1px 1px #000; top:37px; color:#FFFFFF; font-weight:bold; left:70px;}
				.submitPlan { background:url(../img/buttonQuiclySearch.png) no-repeat; width:100px; height:61px; padding:9px 0 40px; border:none; position:absolute; height:25px; font-size:15px; text-shadow:1px 1px 1px #000; top:117px; color:#FFFFFF; font-weight:bold; left:-8px;}
				.submitConForm { background:url(../img/miniSubButton.png) no-repeat; width:100px; height:40px; padding:9px 0 40px; border:none; position:relative; height:25px; font-size:13px; text-shadow:1px 1px 1px #000; top:0px; color:#FFFFFF; font-weight:bold; right:-10px;}

				.submitPurchase { background:url(../img/iconCar.png) no-repeat center top; border:none; padding-top:40px; margin:10px 0 0 12px; width:80px; height:60px; color:#FFF; opacity:.7; text-shadow:1px 1px 1px #000; font-size:17px; font-weight:bold; }
				#f_quiclyCountry_idOpen{ width:190px;}
			#chooseTarget { position:relative; margin-left:15px; top:0px; height:120px; float:left;} 
			#chooseTarget hr{ margin-top:-15px; border:none;}
			input { background-color: #F2F2F2; border: solid 1px #D1D1D1; height:18px; padding:5px; font-size:12px; color:#666666}	
			textarea { background-color: #F2F2F2; border: solid 1px #D1D1D1; padding:5px; font-size:12px; color:#666666}	
			.dateImg { background:#F2F2F2 url(../img/pickerDate.png) 98% center no-repeat; }
			.intsr { color:#0071BC; font-size:11px; font-style:italic; font-weight:700; position:absolute; top:90px; line-height:1.0em; letter-spacing:-0.1em; left:-8px; width:230px; left:-40px;}
						#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
						#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
						ul#icons {margin: 0; padding: 0;}
							ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
						ul#icons span.ui-icon {float: left; margin: 0 4px;}
			div.ui-datepicker{font-size:10px; line-height:1.1em}
				.submitQuote { background:url(../img/clear.png) no-repeat; border:none; position:absolute; height:25px; font-size:21px; text-shadow:1px 1px 1px #000; top:-10px; padding:60px; color:#FFFFFF; font-weight:bold; left:0px;}							
				.submitQuote:hover { color:#F2F2F2;}
				.submitPayment{ background:url(../img/payBtn.png) no-repeat; border:none; position:absolute; height:45px; width:169px; font-size:21px; text-shadow:1px 1px 1px #000; top:42px; color:#FFFFFF; font-weight:bold; left:50px;}	
	
				.radio { height: 20px; width: 20px; clear:left; float:left; margin: 5px 0 0px 18px; padding: 0 0 0 26px; background: url(../img/greyElementsRadio.png); background-repeat:no-repeat; cursor: default;}
				.checkbox { height: 20px; width: 20px; clear:left; float:left; margin: 5px 0 0px 18px; background: url(../img/greyElementsCheck.png); cursor: default; text-align:left;}
					.checkbox input,.radio input { display: none; }
					.checkbox input.show,.radio input.show { display: inline; }
				.selected { background-position: 0 -20px; }
				.block { width: 50%; float: left;}			

		/**** BANNERS *****/
			#banBotArea { position:relative; width:890px; height:160px; left:55px; top:-12px; margin-bottom:20px}
				#bannerLeft { float:left; width:233px; }
				#bannerRight { float:right; width:635px;}
		
		/********************** SLIDERS *************/
		
			/*** HOME SLIDER ***/
			div.wrap { width: 683px; margin: 0 auto; text-align: left; }
				div#headerSlide { margin: -8px 0 -20px; position:relative; left:-45px;}
					div#video-headerSlide { height: 683px; margin: -1px 0 0;}
					div#headerSlide div.wrap { height: 280px; }
						div#headerSlide div#slide-holder { z-index: 40; width: 100%; height: 280px; position: absolute; }
						div#headerSlide div#slide-holder div#slide-runner { top: 9px; left: 9px; width: 761px; height: 280px; overflow: hidden; position: absolute; }
						div#headerSlide div#slide-holder img { margin: 0; display: none; position: absolute; }
						div#headerSlide div#slide-holder div#slide-controls {left: 0; bottom: 0px; width: 741px; height: 36px; display: none; position: absolute; background: url(../img/slide-bg.png) 0 0; padding-left:20px; }
							div#headerSlide div#slide-holder div#slide-controls p.text { float: left; text-align:right; color: #fff; display: inline; font-size: 10px; line-height: 7px; margin: 15px 0 0 10px; text-transform: uppercase; }
								div#headerSlide div#slide-holder div#slide-controls p.text strong{ color:#8CC63F; font-weight:bold; }
						div#headerSlide div#slide-holder div#slide-controls p#slide-nav { float: right; height: 24px; display: inline; margin: 7px 30px 0 0; }
							div#headerSlide div#slide-holder div#slide-controls p#slide-nav a { float: left; width: 24px; height: 24px; display: inline; font-size: 11px; margin: 0 0px 0 -3px; line-height: 24px; font-weight: bold; text-align: center; text-decoration: none; background-position: 0 0; background-repeat: no-repeat; }
							div#headerSlide div#slide-holder div#slide-controls p#slide-nav a.on { background-position: 0 -24px; color:#FFF; }
							div#headerSlide div#slide-holder div#slide-controls p#slide-nav a { background-image: url(../img/silde-nav.png); color:#000; }
								div#nav ul li a { background: url(../img/nav.png) no-repeat; }
		
			/* OFFER BANNERS*/
			#s3slider { width: 635px; /* important to be same as image width */ height: 158px; /* important to be same as image height */ position: relative; /* important */ overflow: hidden; /* important */ }
			#s3sliderContent { width: 635px; /* important to be same as image width or wider */ position: absolute; /* important */ top: 0; /* important */ margin-left: 0; /* important */}
				.s3sliderImage { float: left; /* important */ position: relative; /* important */ display: none; /* important */}
					.s3sliderImage span {
					   position: absolute; /* important */
					   left: 0;
					   /*font: 10px/15px Arial, Helvetica, sans-serif;*/
					   padding: 10px 20px;
					   width: 185px;
					   height:100%;
					   background-color: #000;
					   filter: alpha(opacity=70); /* here you can set the opacity of box with text */
					   -moz-opacity: 0.7; /* here you can set the opacity of box with text */
					   -khtml-opacity: 0.7; /* here you can set the opacity of box with text */
					   opacity: 0.7; /* here you can set the opacity of box with text */
					   color: #fff;
					   display: none; /* important */
					   top: 0px;
					   /*
						   if you put
						   top: 0; -> the box with text will be shown at the top of the image 
						   if you put
						   bottom: 0; -> the box with text will be shown at the bottom of the image
					   */
					}
				.s3sliderImage span p{ font-size:11px; text-align:justify; color:#FFF; line-height:1.1em; font-weight:normal; text-shadow:1px 1px 1px #000}
				.s3sliderImage span strong, .s3sliderImage span b{ font-weight:600;}
				.s3sliderImage span h5{ font-size:35px; color:#FFF; text-shadow:1px 1px 1px #000; font-style:italic;}
				.s3sliderImage span a { float:right; color:#3FA9F5; font-size:10px; text-decoration:none; margin-top:3px;}
			.clear { clear: both; }

		/*************** ------------ TABBED SERVICES, PLANS, COMPANIES ---****/
		#fullCompani { width:952px; margin: 0 auto 30px; }
		#fullPlan { width:100%; }
		
		#servicesBox{ position:relative; background: url(../img/servicesBox.png) center center no-repeat; width:965px; height:195px; margin: 10px 0 10px; }
			#midBox { position:relative; width:470px; height: auto; padding: 0px 0 20px; margin: 0px 0 10px; }
			#servicesBox p, #midBox p{ padding: 10px 30px 5px 10px; width:445px; margin: 0 15px 0 12px; position:relative; clear:left; float:inherit; margin-bottom:0px; line-height:1.09em; font-weight:400 }
			#servicesBox p.blue, #midBox p.blue { color: #0054A4; }
			#servicesBox img { float:right; text-align:right; position:relative; top:-18px;   }
			
			div#feature_services { width: 960px; height:600px; overflow: hidden; position: relative; left:10px; /*border-top:2px solid #8CC63F*/ }
				div#feature_services ul { position: absolute; top: 0; list-style: none;	padding: 0; margin: 0;}
			ul#tabs { left: 0; z-index: 0 /*2*/;  width: 470px;}
				ul#tabs li { font-size: 12px; font-family: Arial; margin-left:10px}
					ul#tabs li img { padding: 5px; border: none; float: left; margin: 10px 10px 0 0; }
					ul#tabs li a { background: url(../img/bgServiceList.png) 0 0 no-repeat; color: #808080; text-decoration: none; display: block; padding: 2px 10px 2px 12px; height:16px; outline: none; margin:2px 0 0 0px; }
						ul#tabs li a:hover { background: url(../img/bgServiceList.png) 0 -20px no-repeat; text-decoration: none; color:#FFF; text-shadow:1px 1px 1px #000;  }
						ul#tabs li a.current { background: url(../img/bgServiceList.png) 0 -20px no-repeat; color: #FFF; text-shadow:1px 1px 1px #000; }
						ul#tabs li a.current:hover { background: url(../img/bgServiceList.png) 0 -20px no-repeat; text-decoration: none; cursor: default; }
			ul#output { right: 0; width: 465px; height:100%; position: relative; }
				ul#output li { position: absolute; width: 463px; height: 240px; }
					ul#output li div.Int { position:relative; height:45px; font-style:italic; } 
						ul#output li span.ServNum { float:left; color:#8CC63F; font-size:60px;  font-weight:bold; padding-right:20px; border-right:2px solid #8CC63F;}
						ul#output li h3{ font-size:22px; font-weight:900; color:#8CC63F; float:left; margin: 5px 15px 0 15px; width:340px; line-height:1.1em}			
					ul#output li p{ position:relative; clear:left; float:inherit; top:10px; margin-bottom:15px; padding-right:10px }
					ul#output li a{ position: absolute; bottom: 10px; right: 10px; padding: 8px 12px; text-decoration: none; font-size: 11px; color: #FFF; background: #000; -moz-border-radius: 5px; }
					ul#output li a:hover{ background: #D33431; }
			
			.planBox { position:relative; float:left; width:475px; border-bottom:1px solid #999999; left:5px; margin-right:5px; margin-bottom:20px; display:none; }
				#planTop { position:relative; float:left; background: url(../img/topPlanBg.png) center top no-repeat; width:461px; margin-left:10px; }
					#planTop span { background: url(../img/topBoxLine.png) center right no-repeat; color:#FFF; text-shadow:1px 1px 1px #000; float:left; font-size:23px; font-weight:bold; padding:1px 18px 5px 20px;  }
					#planTop h2 { color:#FFF; text-shadow:1px 1px 1px #000; font-size:19px; font-style:italic; float:left; padding:5px 10px;}
				
				#planCont { position:relative; width:450px; left:15px; top:-3px;}
					#planCont img { border:2px solid #4D4D4D; position:relative; width:447px; padding:0; margin:0;}
					#planCont p { font-size:12px; color:#808080; line-height:1.1em; padding-bottom:5px;}

			.companiBox { position:relative; float:left; background:url(../img/wipeBgCompanias.png) center top no-repeat; width:187px; height:123px; margin-bottom:35px; display:none; text-align:center; }
				.companiBox:hover{ cursor:pointer; background:transparent url(../img/wipeBgCompaniasHover.png) center top no-repeat;  }
				.spacerBord { background-color:#DDDDDD; width:1px; height:113px; float:left; clear:none; position:relative; top:-7px; left:1px; margin-left:-1px }
				
					#pdfExt { width:100%; text-align:center; text-decoration:none; float: left; clear: left; margin-top:-5px; z-index:2; position:relative;}
						.pdfIconMin { position:relative; bottom:20px; -webkit-transition: all 0.12s ease-out /* Safari & Chrome */;  -moz-transition: all 0.12s ease-out /* Firefox */; -o-transition: all 0.12s ease-out /* Opera */; transition: all 0.12s ease-out }
						.pdfIconMin:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
						
			.faqBox { position:relative; float:left; margin: 15px 0 10px 15px; width:445px; border-bottom:1px solid #999999; padding: 20px 10px; display:none;  }
				.faqBox span { float:left; margin-right:10px; color:#FFF; text-shadow:1px 1px 1px #000; background:url(../img/faqIcon.png) center center no-repeat; text-align:center; width:28px; padding: 3px 0; }
				.faqBox h3 { float:left; font-size:18px; font-weight:600; font-style:italic; color:#8CC63F; letter-spacing:0.001em; margin-top:2px }
				.faqBox p { font-size:12px; color:#808080; line-height:1.1em; padding-bottom:5px; }
				
			#travBox{ position:relative; float:right; width:461px; margin:50px 40px 30px 0; }			
				.travMid { height:327px; background:url(../img/travBoxBgMid.png) center center no-repeat;  }
				.travLarge{ height:388px; background:url(../img/travBoxBgLarge.png) center center no-repeat; }	
				
			/*COMPANIES TABBED CONTENT*/
			#partnersBoxInfo { width: 970px; height:610px; overflow: hidden; position: relative; left:0px;  }
				div#partnersTabs ul { position: absolute; top: 0; list-style: none; display:inline;  padding: 0; margin: 0;}
			ul#partnersTabs { left: 0; z-index: 0 /*2*/; border-bottom:1px solid #999999; height:100px;  margin-left:10px; }
				ul#partnersTabs li { font-size: 12px; font-family: Arial; margin-left:0px}
					ul#partnersTabs li img { position:relative; float:left; border:none; margin-left:0px; margin-right:0px; cursor:pointer;  }
					ul#partnersTabs li a { }
						ul#partnersTabs li a:hover { }
						ul#partnersTabs li a.current { opacity:.5;   }
						ul#partnersTabs li a.current img{ }
						ul#partnersTabs li a.current:hover { opacity:.5; }
			ul#outInfoPart { width: 620px; height:100%; position: relative; top:20px; left:15px; float:left;    }
				ul#outInfoPart li { position: absolute; width: 550px; height: 420px; }
					ul#outInfoPart li div.tiitlePart { position:relative; height:60px; font-style:normal; width:590px; background:url(../img/magicCountBg.png) left center no-repeat; float:left; clear:both; margin-bottom:15px; margin-top:15px; left:-5px; } 
					ul#outInfoPart li div.tiitlePart img{ float:left; margin-left:40px; margin-top:0px;} 
					ul#outInfoPart li div.detaPart{ float:left; width: 610px;  } 
						ul#outInfoPart li div.detaPart p{ text-align:justify;}
							div.boxChoose{ width:310px; position:absolute; top:210px; right:40px; height:303px; background:url(../img/miniBoxRequest_2.png) center center no-repeat;} 
							div.boxChoose h4{ font-style:italic; font-size:20px; font-weight:600; color:#FFFFFF; text-shadow:1px 1px 1px #000; line-height:1.1em; text-align:left; margin-left:40px; margin-top:25px; margin-bottom:35px; } 
						ul#outInfoPart li span.ServNum { float:left; color:#8CC63F; font-size:60px;  font-weight:bold; padding-right:20px; border-right:2px solid #8CC63F;}
						ul#outInfoPart li h3{ font-size:22px; font-weight:900; color:#8CC63F; float:left; margin: 5px 15px 0 15px; width:340px; line-height:1.1em}			
					
					ul#outInfoPart li a{ position: absolute; bottom: 10px; right: 10px; padding: 8px 12px; text-decoration: none; font-size: 11px; color: #FFF; background: #000; -moz-border-radius: 5px; }
					ul#outInfoPart li a:hover{ background: #D33431; }
				
					
/* Print styles!
-------------------------------------------------------------------------------*/
@media print {
	
}

/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {

}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}

@media handheld {
   
}

